<ion-header>
  <ion-toolbar>
    <ion-title>My Cake</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- <ion-list-header>Single Value Select</ion-list-header> -->

    <ion-item>
      <ion-label class="label-title">Cake type</ion-label>
      <ion-select [(ngModel)]="cakeType">
        <ion-select-option>Chocolate Peanut Butter Cup</ion-select-option>
        <ion-select-option>Key Lime</ion-select-option>
        <ion-select-option>Cinnamon Toast</ion-select-option>
        <ion-select-option>Lemon Drop</ion-select-option>
        <ion-select-option>Carrot Cake</ion-select-option>
        <ion-select-option>Red Velvet</ion-select-option>
      </ion-select>
    </ion-item>

      <ion-item>
        <ion-label class="label-title">Frosting</ion-label>
        <ion-select [(ngModel)]="frosting">
          <ion-select-option>Dark Chocolate Cream</ion-select-option>
          <ion-select-option>Lemon Curd</ion-select-option>
          <ion-select-option>Butter Cream</ion-select-option>
          <ion-select-option>Rasberry</ion-select-option>
          <ion-select-option>Mango Mousse</ion-select-option>
        </ion-select>
      </ion-item>

    <ion-item>
      <ion-label class="label-title">Gluten free</ion-label>
      <ion-toggle [(ngModel)]="glutenFree"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-button shape="round"
        color="primary"
        fill="outline"
        (click)="SaveAndgoBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Previous
      </ion-button>

      <ion-button shape="round"
        color="primary"
        fill="outline"
        (click)="SaveAndgoToConfirm()">Next
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-toolbar>
</ion-footer>
