<ion-header>
  <ion-toolbar>
    <!-- <ion-back-button defaultHref="/home"></ion-back-button> -->
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
      <ion-row>
      <ion-col col-2>
      <ion-item>
        <ion-label class="label-title">Name</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
      </ion-col>
    </ion-row>

      <ion-row>
        <ion-col col-2>
          <ion-item>
            <ion-label class="label-title">Month</ion-label>
            <ion-select [(ngModel)]="birthMonth">
              <ion-select-option>Jan</ion-select-option>
              <ion-select-option>Feb</ion-select-option>
              <ion-select-option>Mar</ion-select-option>
              <ion-select-option>Apr</ion-select-option>
              <ion-select-option>May</ion-select-option>
              <ion-select-option>Jun</ion-select-option>
              <ion-select-option>Jul</ion-select-option>
              <ion-select-option>Aug</ion-select-option>
              <ion-select-option>Sep</ion-select-option>
              <ion-select-option>Oct</ion-select-option>
              <ion-select-option>Nov</ion-select-option>
              <ion-select-option>Dec</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-item>
            <ion-label class="label-title">Day</ion-label>
            <ion-select [(ngModel)]="birthDay">
              <ion-select-option *ngFor="let day of days">{{day}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-button shape="round"
        color="primary"
        fill="outline"
        (click)="SaveAndgoBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Previous
      </ion-button>

      <ion-button shape="round"
        color="primary"
        fill="outline"
        (click)="SaveAndgoToCake()">Next
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-toolbar>
</ion-footer>
